
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

.input{
    font-size: 300;

}

ion-item{
    --background:#c4bfbf;
    border-radius:10px;
    margin-bottom: 16px;
    ion-icon{
        display: flex;
        justify-content: flex-end;
    }
 
}



.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: gray;
        font-size: 0.9rem;
    }
    .title{
        font-size: 2rem;
    }
}

.signinLink{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;
    p{
        font-size: 0.9rem;

    }

    a{
        text-decoration: none;
    }

}

@media screen and (max-width: 600px) {
    .header {
      margin-top: 10%;
      
    }

    #container {
        height: auto;
        margin-top: 20vh;
      }
  
    .signupLink {
      width: 100%;
      
    }
  }
  
