<ion-header [translucent]="true"  >
  <ion-toolbar color="primary">
    <ion-title  >
      Quienes somos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="header">
    <ion-title class="title">Nosotros</ion-title>
    <p class="subTitle">Somos una empresa de marketing digital. Expertos en el desarrollo de identidades digitales únicas y diferenciales, para cada uno de nuestros clientes. Haciéndolos sobresalir en el mercado, alcanzando sus objetivos comerciales.</p>
  </div>

 


  <!-- Sección Misión -->
  <ion-card id="mision">
    <ion-img [src]="'../../../assets/mision.jpg'" alt="Misión"></ion-img>
    <ion-card-content>
      <ion-card-title>Misión</ion-card-title>
      <p>MICPADA ofrece la mejor experiencia de marketing digital, brindando atención personalizada para cada uno de nuestros clientes, a través de innovadoras soluciones de Marketing, Comunicación, Programación y Diseño. Además de promover la realización de contenido original y de alta calidad, así como seguir capacitando y renovando nuestra empresa constantemente.</p>
    </ion-card-content>
  </ion-card>

  <!-- Sección Visión -->
  <ion-card id="vision">
    <ion-card-content>
      <ion-card-title>Visión</ion-card-title>
      <p>Ser considerados por nuestros clientes y aliados estratégicos como la mejor opción, ofreciendo soluciones y servicios basados principalmente en la innovación, tecnología avanzada, servicio y calidad. Superando expectativas, además de siempre personalizar y distinguir a cada una de nuestros clientes con una identidad digital única, distinguiéndolos de la competencia, de manera que su valor añadido sea único.</p>
    </ion-card-content>
    <ion-img [src]="'../../../assets/vision.jpg'" alt="Visión"></ion-img>
  </ion-card>

  <!-- Sección Diferenciador -->
  <ion-card id="diferenciador">
    <ion-img [src]="'../../../assets/diferenciador.jpg'" alt="Diferenciador"></ion-img>
    <ion-card-content>
      <ion-card-title>Diferenciador</ion-card-title>
      <p>Servicios personalizados: Todas nuestras estrategias y campañas son personalizadas, cubriendo las necesidades específicas de cada cliente y de su negocio.</p>
      <p>Digital Adviser: Todos nuestros servicios incluyen un seguimiento puntual, te asignamos un Digital Adviser, que monitorea tus campañas y estrategias, atendiendo tus dudas y solicitudes vía telefónica o whatsapp.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
